$wd-10: 10%;
$wd-25: 25%;
$wd-50: 50%;
$wd-75: 75%;
$wd-100: 100%;

$bd-10: 10px;
$bd-20: 20px;
$bd-30: 30px;
$bd-40: 40px;
$bd-50: 50px;

$ft-sz-1: 1px;
$ft-sz-10: 10px;
$fts-sz-300: 300px;


$font: "Lucida Grande";
$weight: bold;

section{
  font-family: $font;
  font-weight: $weight;
}

nav {
  width: $wd-100;
  border: $bd-20;
  font-size: $ft-sz-10;
}


//variaveis